<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'staff\login.css' %}">

</head>
<body>
    <form id="form-login">
        <div class="login">
            <h2>LOGIN <hr></h2>
            <input type="text" id="login_username" placeholder="Username" name="login_username">
            <input type="password" id="login_password" placeholder="Password" name="login_password">
            <button class="loginbtn">login</button>
            <br>
            <br>
            <br>
            <h1>
                <hr>
            </h1>
            <div class="social">
                <!-- <i class="fa-brands fa-instagram"></i> -->
                <a href="" class="fa-brands fa-youtube"></a>
                <a href="" class="fa-brands fa-instagram"></a>
                <a href="" class="fa-brands fa-facebook"></a>
                <a href="" class="fa-brands fa-twitter"></a>
            </div>
        </div>
    </form>

    <script src="{% static 'staff\login.js' %}"></script>
   
</body>

</html>