<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Admin Dashboard</title>

        <!--Monseerat Font-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900;1,100..900&display=swap">

        <!--Material Icons-->
        <link href="https: //fonts.googleapis.com/icon family=Material+icons+Outlined" rel="stylesheet">

        <!--Custom CSS-->
        <link rel="stylesheet" href="{% static 'staff\sale.css' %}">
    </head>   
    <body>
        <div class="grid-container">

            <!-- Header -->
             <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="https://www.google.com/imgres?q=menu%20icon%20image&imgurl=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F002%2F292%2F406%2Fnon_2x%2Fhamburger-menu-line-icon-free-vector.jpg&imgrefurl=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Fmenu-icon&docid=CXNxxBxsaAsN0M&tbnid=apKebyOa8-sljM&vet=12ahUKEwi1mbys7amMAxWGzTgGHToTMToQM3oECBsQAA..i&w=980&h=980&hcb=2&ved=2ahUKEwi1mbys7amMAxWGzTgGHToTMToQM3oECBsQAA">menu</span>
                </div>
                <div class="header-left"></div>
                   "<span class="material-symbols-outlined">
                    search_check</span>
                <div class="header-right"></div>
             </header>
                
                
             <!-- End Header -->

             <!-- Sidebar -->
              <aside id="sidebar"></aside>
              <!-- End Sidebar -->

              <!-- Main -->
               <main class="main-container"></main>
               <!-- End Main-->
        </div>
        
        <!--Custom JS-->
        <script src="{% static 'staff\sale.js' %}"></script>
    </body>
</html>    

